template(name='stage_simple_vote')
  .stage-simple-vote
    each results
      .result
        .result-key
          span= key
        .result-val= val
        .bar(id=key)
          .result-val= val

template(name='stage_simple_vote_done')
  .stage-simple-vote-done
    span= result
